<div class="content_todo">
	<!-- Done content -->
	<h3 class="content_todo__subtitle">Todo List</h3>
	<div class="content_todo__container clearfix">
		<app-to-do-item *ngIf="toDoList.length > 0" [articles]="toDoList" type="done"></app-to-do-item>
	</div>
	<!-- END Done content -->
	<form (submit)="onCreateSubmitBtn()"
				#createForm="ngForm"
				class="content_todo__form">
		<input 	type="text"
						name="taskName"
						[(ngModel)]="taskName"
						class="content_todo__input"
						placeholder="Your todo here!">
		<button type="submit"
						class="content_todo__btn-form btn btn-success"
		>
			<span>Add task</span>
		</button>
	</form>
	<div *ngIf="showErrorFormMessage" class="alert alert-danger" role="alert">
		You should add someting in the task name
	</div>
	<!-- Archive content -->
	<h3 class="content_todo__subtitle">Archived List</h3>
	<div class="content_todo__container clearfix">
		<app-to-do-item *ngIf="toDoList.length > 0" [articles]="toDoList" type="archived"></app-to-do-item>
	</div>
	<!-- END Archive content -->
</div>
