<article 	*ngFor="let articlesItem of articles | byType: type; index as i; trackBy: trackByFn"
					[ngClass]="{'done': articlesItem.done, 'archived': articlesItem.archived}"
					class="content_todo__article"
					title="{{ articlesItem.done ? 'undo' : 'do' }}">
					<p 	(click)="onToggle(articlesItem.id, articlesItem.done)"
							class="content_todo__text">{{ articlesItem.text }}</p>
					<a 	class="content_todo__btn archive"
							*ngIf="type !== 'archived'"
							(click)="onArchive(articlesItem.id)">archive</a>
					<a 	class="content_todo__btn remove"
							*ngIf="type !== 'archived'"
							(click)="onRemove(articlesItem.id)">remove</a>
					<a 	class="content_todo__btn unarchive"
							*ngIf="type === 'archived'"
							(click)="onUnarchive(articlesItem.id)">unarchive</a>
</article>
