<header class="header">
	<svg class="header__svg_logo"
			version="1.1"
			id="Layer_1"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px"
			y="0px"
			viewBox="0 0 202 30"
			style="enable-background:new 0 0 202 30;"
			xml:space="preserve">
		<g>
			<path class="st0"
						d="M24.4,1c-1.5,0-2.9,0.3-4.2,1c-1.3-0.6-2.7-1-4.2-1C13.3,1,10.9,2,9,3.9c-1.8,1.8-2.9,4.3-2.9,6.9
				c0,1.5,0.3,2.9,1,4.2c-0.6,1.3-1,2.7-1,4.2c0,2.6,1,5.1,2.9,6.9c1.8,1.8,4.3,2.9,6.9,2.9h0c1.5,0,2.9-0.3,4.2-1
				c1.3,0.6,2.7,1,4.2,1c5.4,0,9.8-4.4,9.8-9.8c0-1.5-0.3-3-1-4.2c0.6-1.3,1-2.7,1-4.2C34.2,5.4,29.8,1,24.4,1z M21.9,4.8
				c0.9,0.9,1.5,1.9,1.9,3c-0.2,0.1-0.4,0.3-0.6,0.5c-0.3,0.3-0.5,0.7-0.7,1.1h-4.8c-0.1-0.4-0.3-0.8-0.7-1.1
				c-0.2-0.2-0.4-0.3-0.6-0.5c0.4-1.1,1.1-2.2,1.9-3c0.5-0.5,1.1-1,1.7-1.3C20.8,3.9,21.4,4.3,21.9,4.8z M24.3,12.6v4.8
				c-0.4,0.1-0.8,0.3-1.1,0.7c-0.3,0.3-0.5,0.7-0.7,1.1h-4.8c-0.1-0.4-0.3-0.8-0.7-1.1c-0.3-0.3-0.7-0.5-1.1-0.7v-4.8
				c0.4-0.1,0.8-0.3,1.1-0.7c0.3-0.3,0.5-0.7,0.7-1.1h4.8c0.1,0.4,0.3,0.8,0.7,1.1C23.5,12.3,23.9,12.5,24.3,12.6z M10,4.8
				c1.6-1.6,3.7-2.5,5.9-2.5c1,0,1.9,0.2,2.8,0.5c-0.4,0.3-0.8,0.6-1.2,1c-1.1,1.1-1.9,2.3-2.3,3.7c-0.6,0-1.2,0.3-1.7,0.7
				C13,8.8,12.8,9.4,12.8,10c-1.4,0.5-2.7,1.3-3.7,2.3c-0.4,0.4-0.7,0.8-1,1.2c-0.3-0.9-0.5-1.8-0.5-2.8C7.5,8.5,8.4,6.4,10,4.8z
				M14.6,12.6v4.8c-0.4,0.1-0.8,0.3-1.1,0.7c-0.2,0.2-0.3,0.4-0.5,0.6c-1.1-0.4-2.2-1.1-3-1.9c-0.5-0.5-1-1.1-1.3-1.7
				c0.4-0.6,0.8-1.2,1.3-1.7c0.9-0.9,1.9-1.5,3-1.9c0.1,0.2,0.3,0.4,0.5,0.6C13.8,12.3,14.2,12.5,14.6,12.6z M15.9,27.6L15.9,27.6
				c-2.2,0-4.3-0.9-5.9-2.5c-1.6-1.6-2.5-3.7-2.5-5.9c0-1,0.2-1.9,0.5-2.8c0.3,0.4,0.6,0.8,1,1.2c1.1,1.1,2.3,1.9,3.7,2.3
				c0,0.6,0.3,1.2,0.7,1.7c0.5,0.5,1.1,0.7,1.7,0.7c0.5,1.4,1.3,2.7,2.3,3.7c0.4,0.4,0.8,0.7,1.2,1C17.8,27.5,16.9,27.6,15.9,27.6z
				M18.5,25.2c-0.9-0.9-1.5-1.9-1.9-3c0.2-0.1,0.4-0.3,0.6-0.5c0.3-0.3,0.5-0.7,0.7-1.1h4.8c0.1,0.4,0.3,0.8,0.7,1.1
				c0.2,0.2,0.4,0.3,0.6,0.5c-0.4,1.1-1.1,2.2-1.9,3c-0.5,0.5-1.1,1-1.7,1.3C19.6,26.1,19,25.7,18.5,25.2z M24.4,27.6
				c-1,0-1.9-0.2-2.8-0.5c0.4-0.3,0.8-0.6,1.2-1c1.1-1.1,1.9-2.3,2.3-3.7c0.6,0,1.2-0.3,1.7-0.7c0.5-0.5,0.7-1.1,0.7-1.7
				c1.9-0.7,3.6-1.9,4.7-3.5c0.3,0.9,0.5,1.8,0.5,2.8C32.8,23.9,29,27.6,24.4,27.6z M25.7,17.4v-4.8c0.4-0.1,0.8-0.3,1.1-0.7
				c0.2-0.2,0.3-0.4,0.5-0.6c1.8,0.7,3.4,2,4.4,3.6c-1,1.7-2.5,3-4.4,3.6c-0.1-0.2-0.3-0.4-0.5-0.6C26.5,17.7,26.1,17.5,25.7,17.4z
				M32.3,13.5c-1.2-1.6-2.8-2.9-4.7-3.5c0-0.6-0.3-1.2-0.7-1.7c-0.5-0.5-1.1-0.7-1.7-0.7c-0.5-1.4-1.3-2.7-2.3-3.7
				c-0.4-0.4-0.8-0.7-1.2-1c0.9-0.3,1.8-0.5,2.8-0.5c4.6,0,8.4,3.8,8.4,8.4C32.8,11.7,32.6,12.7,32.3,13.5z"></path>
			<path class="st0"
						d="M52.2,14.9c1.5-0.5,2.5-1.9,2.5-3.7c0-2.7-1.9-4.6-5.2-4.6h-5.9v17.1H50c3.2,0,5.3-2,5.3-4.7
				C55.3,16.9,54,15.3,52.2,14.9z M46.5,9h2.5c1.8,0,2.8,0.9,2.8,2.4c0,1.4-1,2.4-2.7,2.4h-2.6V9z M49.5,21.2h-2.9v-5h3
				c1.8,0,2.8,1,2.8,2.5C52.3,20.3,51.2,21.2,49.5,21.2z"></path>
			<path class="st0"
						d="M60.7,13.8v-1.9H58v11.7h2.8v-5.6c0-2.2,1-3.4,3.2-3.4c0.3,0,0.6,0,0.9,0.1v-2.8c-0.1,0-0.4-0.1-0.7-0.1
				C62.5,11.8,61.2,12.5,60.7,13.8z"></path>
			<path class="st0"
						d="M72.2,11.6c-3.5,0-6.1,2.6-6.1,6.2c0,3.6,2.6,6.2,6.1,6.2c3.5,0,6.1-2.6,6.1-6.2
				C78.3,14.2,75.7,11.6,72.2,11.6z M72.2,21.5c-1.7,0-3.3-1.3-3.3-3.7c0-2.4,1.6-3.7,3.3-3.7c1.7,0,3.3,1.3,3.3,3.7
				C75.5,20.2,73.9,21.5,72.2,21.5z"></path>
			<polygon class="st0"
							points="91.9,11.9 88.2,11.9 83.7,16.7 83.7,6.2 81,6.2 81,23.6 83.7,23.6 83.7,20.4 85.2,18.9 88.6,23.6
				92,23.6 87.1,16.9 	"></polygon>
			<path class="st0"
						d="M98.3,11.6c-3,0-5.7,2.5-5.7,6.2c0,4,2.8,6.3,6,6.3c2.8,0,4.7-1.7,5.3-3.7l-2.4-0.7c-0.4,1.2-1.3,2-2.9,2
				c-1.7,0-3.1-1.3-3.2-3.1h8.6c0,0,0.1-0.4,0.1-0.9C104,14,101.9,11.6,98.3,11.6z M95.4,16.5c0.1-1.3,1.1-2.6,2.9-2.6
				c1.9,0,2.8,1.2,2.9,2.6H95.4z"></path>
			<path class="st0"
						d="M109.4,13.8v-1.9h-2.7v11.7h2.8v-5.6c0-2.2,1-3.4,3.2-3.4c0.3,0,0.6,0,0.9,0.1v-2.8c-0.1,0-0.4-0.1-0.7-0.1
				C111.2,11.8,109.9,12.5,109.4,13.8z"></path>
			<path class="st0"
						d="M129.6,8.9c2.7,0,4.4,1.6,5,3.6l2.7-1c-0.9-2.8-3.6-5.2-7.7-5.2c-4.4,0-8.6,3.3-8.6,8.9c0,5.6,3.9,8.9,8.4,8.9
				c2.7,0,4.5-1.3,5.2-2.5l0.2,2.2h2.3V15h-8.3v2.5h5.6c-0.1,1.5-1.4,3.8-4.9,3.8c-2.9,0-5.6-2.1-5.6-6.3
				C123.9,10.9,126.8,8.9,129.6,8.9z"></path>
			<path class="st0"
						d="M145.2,11.6c-3,0-5.7,2.5-5.7,6.2c0,4,2.8,6.3,6,6.3c2.8,0,4.7-1.7,5.3-3.7l-2.4-0.7c-0.4,1.2-1.3,2-2.9,2
				c-1.7,0-3.1-1.3-3.2-3.1h8.6c0,0,0.1-0.4,0.1-0.9C150.9,14,148.8,11.6,145.2,11.6z M142.3,16.5c0.1-1.3,1.1-2.6,2.9-2.6
				c1.9,0,2.8,1.2,2.9,2.6H142.3z"></path>
			<path class="st0"
						d="M159.7,11.6c-1.3,0-2.7,0.6-3.5,1.9v-1.6h-2.7v11.7h2.8v-6.8c0-1.5,0.8-2.8,2.4-2.8c1.8,0,2.4,1.2,2.4,2.6v6.9
				h2.8v-7.4C164,13.7,162.6,11.6,159.7,11.6z"></path>
			<rect x="167.4"
						y="11.9"
						class="st0"
						width="2.8"
						height="11.7"></rect>
			<path class="st0"
						d="M184,11.9h-2.8v6.9c0,1.5-0.8,2.6-2.5,2.6c-1.7,0-2.4-1.2-2.4-2.7v-6.9h-2.8v7.4c0,2.6,1.6,4.7,4.4,4.7
				c1.4,0,2.7-0.6,3.3-1.6c0,0.5,0,1,0.1,1.3h2.7c0-0.4-0.1-1.2-0.1-2.1V11.9z"></path>
			<path class="st0"
						d="M192.5,16.7l-1.8-0.4c-0.7-0.1-1.2-0.6-1.2-1.2c0-0.7,0.7-1.3,1.7-1.3c1.6,0,2.1,1.1,2.2,1.8l2.4-0.7
				c-0.2-1.2-1.3-3.3-4.5-3.3c-2.4,0-4.3,1.7-4.3,3.8c0,1.6,1.1,3,3.2,3.4l1.7,0.4c0.9,0.2,1.4,0.7,1.4,1.3c0,0.7-0.6,1.3-1.8,1.3
				c-1.5,0-2.3-0.9-2.4-2l-2.4,0.7c0.1,1.3,1.4,3.5,4.8,3.5c3,0,4.4-2,4.4-3.8C195.8,18.5,194.7,17.2,192.5,16.7z"></path>
			<path class="st0"
						d="M168.7,5.8c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S169.8,5.8,168.7,5.8z"></path>
		</g>
	</svg>

	<h1 class="header__title">Frontend Technical Test</h1>

</header>
