/*

  #####
 #     #   ####   #    #  #    #   ####   #    #   ####
 #        #    #  ##  ##  ##  ##  #    #  ##   #  #
 #        #    #  # ## #  # ## #  #    #  # #  #   ####
 #        #    #  #    #  #    #  #    #  #  # #       #
 #     #  #    #  #    #  #    #  #    #  #   ##  #    #
  #####    ####   #    #  #    #   ####   #    #   ####

*/

* {
	box-sizing: border-box;
}

// Custom variables
$primary:    #040655;
$secondary:  #EEEEEE;
$success:    #43ac6a;
$info:       #5bc0de;
$warning:    #E99002;
$danger:     #F04124;
$light:      #eee;
$dark:       #151515;

$navbar-light-active-color: $primary;

//Add just the bootstrap modules we are going to use
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/custom-forms';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/utilities';

//Grid variables
// Small screen / phone
$grid-sm: 576px;
// Medium screen / tablet
$grid-md: 768px;
// Large screen / desktop
$grid-lg: 992px;
  // Large screen / desktop
// Extra large screen / wide desktop
$grid-xl: 1200px;

/*

 #     #  ###  #     #  ###  #     #
 ##   ##   #    #   #    #   ##    #
 # # # #   #     # #     #   # #   #
 #  #  #   #      #      #   #  #  #
 #     #   #     # #     #   #   # #
 #     #   #    #   #    #   #    ##
 #     #  ###  #     #  ###  #     #

*/

@mixin screen-xs {
  @media (max-width: #{$grid-sm}) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: #{$grid-md}) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: #{$grid-lg}) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: #{$grid-xl}) {
    @content;
  }
}

/*

  #####
 #     #   ####   #    #  #####    ####   #    #  ######  #    #  #####   ####
 #        #    #  ##  ##  #    #  #    #  ##   #  #       ##   #    #    #
 #        #    #  # ## #  #    #  #    #  # #  #  #####   # #  #    #     ####
 #        #    #  #    #  #####   #    #  #  # #  #       #  # #    #         #
 #     #  #    #  #    #  #       #    #  #   ##  #       #   ##    #    #    #
  #####    ####   #    #  #        ####   #    #  ######  #    #    #     ####

*/

// Logo
app-logo {
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1em 0;
		background-color: $primary;
		color: white;

		&__svg_logo {
			max-width: 100%;
			height: 100px;
			fill: white;
		}
		&__title {
			padding: 0 1em;
			font-size: 2em;
			margin: 0;
			@include screen-xs {
				font-size: 1em;
			}
		}
	}
}

//Todo component
.content_todo{
	&__subtitle {
    margin: 0;
		padding: 1.2em 1.2em;
		font-size: 1.5em;
		font-weight: bold;
		background-color: $secondary;
		color: $primary;
	}

	&__container {
		border-bottom: 1px solid #DDDDDD;
    height: 15em;
    overflow: auto;
	}

	&__form {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 1.2em 0;
		height: 5em;
	}
	&__input {
		flex: 1;
		margin-left: .5em;
		border: none;
		outline: 0;
		border-bottom: 1px inset #DDDDDD;
		transition: border-bottom-color 250ms ease-in-out,
								border-bottom-width 250ms ease-in-out;

		&:hover,
		&:focus,
		&:active {
			border-bottom-color: #AAA;
			border-bottom-width: 2px;
		}

		&.ng-invalid {
			border-bottom-color: $danger;
		}
	}
	&__btn-form {
		margin: 0 .5em;
	}

	&__article {
		display: flex;
		align-items: flex-start;
		padding: 0.5em 0.5em;
		cursor: default;
		&.done {
			opacity: 0.5;

			.content_todo__text {
				text-decoration: line-through;
			}
		}
		&:hover {
			border-color: #CCCCCC;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
		}

		&:not(.archived) p {
			cursor: pointer;
		}

	}

	&__text{
		flex: 1;
		padding: 0.2em;
		margin: 0;
		cursor: default;
	}

	&__btn {
		margin-left: 0.5em;
		padding: 0.2em;
		border-radius: 0.25em;
		cursor: pointer;
		transition: background-color 250ms ease-in-out;
	}
}
/*

 ######
 #     #    ##     ####   ######   ####
 #     #   #  #   #    #  #       #
 ######   #    #  #       #####    ####
 #        ######  #  ###  #            #
 #        #    #  #    #  #       #    #
 #        #    #   ####   ######   ####

*/
